/* Resume  */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #fafafa;
  scroll-behavior: smooth;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.bg-primary {
  background-color: #090909 !important;
}

.anime {
  /* position:absolute; */
  animation: anime 5s ease-in-out;
}

@keyframes anime {

  0% {
    transform: scale(.2);
    opacity: 0;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }

}

.blur {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.dropdown-menu {
  text-align: center;
  border-radius: 1em;
}

.dropdown-item:focus,
.dropdown-item.active {
  text-align: center;
  border-radius: 2em;
}

.dropdown-item:hover {
  text-align: center;
  border-radius: 2em;
  background-color: rgb(0 0 0 / 80%);
  color: white;
}

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  text-align: center;
  transition: all 0.3s;
}

.container {
  position: relative;
  text-align: center;
  color: rgb(0, 0, 0);
  justify-content: center;
}

.navbar-dark .navbar-brand {
  color: black;
}

.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-brand:focus {

  color: white;
  background: black;
}

.navbar-brand {
  display: inline-block;
  padding: .4rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  background: white;
  border-radius: 2em;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active {
  color: #000;
  background: white;
  border-radius: 2em;
}

.hamburger .line {
  width: 30px;
  height: 2px;
  background-color: #ecf0f1;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

.navbar-toggler {
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.75rem;
}

#hamburgerId.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}

#hamburgerId.is-active .line:nth-child(2) {
  opacity: 0;
  height: 8px;
}

#hamburgerId.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}

@keyframes upAndDown {
  0% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(10px);
  }
}

.waves {
  position: relative;
  width: 100%;
  top: -120px;
  height: 10vh;
  margin-bottom: -162px;
  min-height: 100px;
  max-height: 400px;
}

.parallax>use {
  animation: move-forever 30s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 24s;
}

.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 20s;
}

.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 33s;
}

.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 17s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

@media (max-width: 768px) {
  .waves {
    height: 80px;
    min-height: 40px;
  }
}

.unique-color-dark {
  background-color: #0d6efd !important;
}

.unique-color-dark.darkMode {
  background-color: #2021241f !important;
  backdrop-filter: blur(3px);
  color: white;
}

.bg-light {
  background-color: #0d6efd !important;
}

.custom-color {
  background-color: #0d6efd !important
}

@keyframes upAndDownWave {
  0% {
    transform: translateY(-70px);
  }

  100% {
    transform: translateY(-30px);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(359deg)
  }
}